* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-align: center;
    
  }
  body {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    min-width:660px;
  }
  .agrupar {
    background-image: url("imagenes_hbdy/fondoh1header.jfif");
  }
  .video {
    position:absolute;
    z-index:-1;
  }
  .cabecerah1{
    font-size: 4em;
    font-style: italic;
    color: gold; 
  }
  .reina {
    display: block;
    font-size: 0.5em;
  }
  .h1fotos {
    margin: 0.5em 0;
  }
  .foto img {
    width: 12vw;
    height: 25vh;
    border-radius: 1.5em;
    box-shadow:rgb(0,0,0) 10px 11px 10px;
    -moz-box-shadow:rgb(0,0,0) 10px 11px 10px;
    -webkit-box-shadow:rgb(0,0,0) 10px 11px 10px;
    margin: 1em 0.5em;
  }
  .container{
    display: inline-block;
    column-count: 5; 
  }

  .h1fotos{
    font: 1.5em solid verdana, sans-serif;
    -moz-font: 1.5em solid verdana, sans-serif;
    -webkit-font: 1.5em solid verdana, sans-serif;
    text-transform: uppercase;
    color: gold;
  }
  .mensajefooter,
  .parrafo,
  .tqm {
    text-transform: uppercase;
    color: gold;
    font: 0.9em solid verdana, sans-serif;
    -moz-font: 0.9em solid verdana, sans-serif;
    -webkit-font: 0.9em solid verdana, sans-serif; 
  }
  .parrafo{
    width:960px;
    margin: 0 auto;
  }

  .imagenesfooter {
    display:flex;
    justify-content: space-evenly; 
  }

  .imagenesfooter img {
    width: 8.5em;
    border-radius: 2em;
    -moz-width:8.5em;
    -webkit-width:8.5em;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    margin:1em 1em;
    
  }
  .tulipan{
    box-shadow:rgb(0,0,0) 6px 6px 6px
  }
  .tqm {
    padding-bottom: 0.5em;
  }
  .footer {
    margin-top: 0.5em;
  }
  .mensajefooter {
    margin: 0.5em 0;
  }
  
  .tqm,
  .mensajefooter,
  .parrafo,
  .h1fotos,
  .cabecerah1{
    text-shadow:rgb(0,0,0) 10px 10px 10px;
    -moz-text-shadow:rgb(0,0,0) 10px 10px 10px;
    -webkit-text-shadow:rgb(0,0,0) 10px 10px 10px
  }

  /* MEDIA */

  
  @media only screen and (max-width:1500px){
    .foto img{
      width: 15vw;
      height: 25vh;
      border-radius: 1em;
    }
    .container{
      column-count: 4;
    }
    .imagenesfooter img {
      width: 7em;
      border-radius: 2em;
    }
    *{
      font-size:20px;
    }
    .parrafo{
      width:850px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width:1007px){
    .foto img{
      width: 19vw;
      height: 25vh;
      border-radius: 2em;
    }
    .imagenesfooter img {
      border-radius: 0.5em;
    }
    *{
      font-size:18px;
    }
    .container{
      column-count: 3;
    }
    .parrafo{
      width:600px;
      margin: 0 auto;
    }
}
